body{
    text-align: center;
    margin: 0 5%;
}

.underline{
    text-decoration: underline;
}

.left-side{
    float: left;
}

.right-side{
    float: right;
}

.play-field{
    height: 100px;
    font-size: xx-large;
    margin: 50px;
}

.selector{
    height: 200px;
    width: 90%;
    font-size: 80px;
}

.selector:hover{
    scale: 1.1;
}

h1{
    font-size: 55px;
}

.win-color{
    background-color: green;
}

.lose-color{
    background-color: red;
}

img {
    height: 50px;
}

#player-selection .rock{
    scale: -1 1;
    rotate: -70deg;
}

#player-selection .paper, #player-selection .scissors{
    rotate: 30deg;
}

#computer-selection .rock{
    rotate: 70deg;
}

#computer-selection .paper, #computer-selection .scissors{
    scale: -1 1;
    rotate: -30deg;
}
